<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>" />
    <!-- Open Graph meta tags-->
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>" />
    <meta property="og:url" content="<%= htmlWebpackPlugin.options.homepage %>" />
    <meta property="og:type" content="website" />
    <!-- Twitter card meta tags-->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@FxTestPilot" />
    <meta name="twitter:title" content="<%= htmlWebpackPlugin.options.title %>" />
    <meta name="twitter:description" content="<%= htmlWebpackPlugin.options.description %>" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" type="image/svg+xml" href="images/icon.svg" />
  </head>
  <body>
    <div id="root"></div>
    <script type="text/javascript" src="./vendor/json-url.js"></script>
  </body>
</html>
